@keyframes pulse {
    0% {
      transform: scale(1); /* Initial size */
    }
    50% {
      transform: scale(1.1); /* Slightly larger size */
    }
    100% {
      transform: scale(1); /* Back to initial size */
    }
  }

  .img1{
    animation: pulse 2s infinite; 
  }